$main-white-color: #f5f5f5;
$main-black-color:#333030;
$main-font: 'Open-Sans',
sans-serif;
$heading-font:'Merriweather',
serif;
$breakpoints: (
    'xs':576px,
    'sm':576px,
    'md':768px,
    'lg':992px,
    'xlg':1200px
)