#jumbotron {
    background: url('../../images/jumbotron.jpg')center/cover no-repeat;
    background-attachment: fixed;
    animation: bgcTravel 60s ease-in infinite;
    height: 100vh;
    padding-top: 60%;

    @include mq('xsLandscape') {
        padding-top: 25%;
    }

    @include mq('smLandscape') {
        padding-top: 25%;
    }
    @include mq('mdLandscape') {
        padding-top: 20%;
    }
    @include mq('md') {
        padding-top: 50%;
    }
    @include mq('lgLandscape') {
        padding-top: 30%;
    }
    @include mq('xlgLandscape') {
        padding-top: 17.5%;
    }
    .heading {
        font-family: $heading-font;
        text-align: center;
        color: white
    }

    .name {
        font-size: 2em;
        @include mq('md') {
            font-size: 4em;
        }
        @include mq('lgLandscape') {
            font-size: 4em;
        }
    }

    .junior-dev {
        font-family: $heading-font;
        font-size: 1.5em;
        margin-top: 5vh;
        word-wrap: break-word;
        @include mq('md') {
            font-size: 3em;
        }
        @include mq('lgLandscape') {
            font-size: 3em;
        }
    }

    .arrow-down-icon {
        background: linear-gradient(235deg, #73cbb4, #4c59d8, #845793);
        background-size: 600% 600%;
        color: transparent;
        animation: gradientSwing 20s ease-in infinite, arrowPop .66s ease-in-out alternate infinite;
        background-clip: text;
        -webkit-background-clip: text;
        margin-top: 5vh;
        display: block;
        text-align: center;
        font-size: 3em;
        @include mq('md') {
            font-size: 4em;
        }
        @include mq('lgLandscape') {
            font-size: 4em;
        }
    }



}