#projects {
    padding: 0 2.5%;
    padding-top: 15%;
    height: 100vh;
    @include mq('xsLandscape') {
        padding-top: 5%;;
    }
    @include mq('smLandscape') {
        padding-top: 5%;
    }
    @include mq('mdLandscape') {
        padding-top: 3.5%;
    }
    .projects-carousel {
        margin: 0 auto;
        margin-top: 20%;
        height: 60vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include mq('xsLandscape') {
            margin-top: 5%;
        }
        @include mq('smLandscape') {
            margin-top: 5%;
        }
    }

    #slide {
        height: 100%;
        display: flex;
    }

    .take {
        background: url('/images/projects/take.jpg');
    }

    .golden {
        background: url('/images/projects/golden.jpg');
    }

    .sudoku {
        background: url('/images/projects/sudoku.jpg');
    }

    .jquerychatio {
        background: url('/images/projects/jquerychatio.jpg');
    }

    .fyb {
        background: url('/images/projects/fyb.jpg');
    }

    .devconnector {
        background: url('/images/projects/devconnector.jpg');
    }

    .project {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;

        .description {
            position: absolute;
            display: inline-block;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: #000;
            color: $main-white-color;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
            padding: 5%;
            opacity: 0.9;
            @include mq('xsxs') {
                padding: 3.5%;
            }
            @include mq('xsLandscape') {
                padding: 2.5%;
            }
            @include mq('smLandscape') {
                padding: 2.5%;
            }
            .project-title,
            .used-technologies {
                margin-bottom: 2.5%;
                @include mq('xsxs') {
                    margin-bottom: 1.5%;
                }
            }

            .project-title {
                font-size: 1.75em;
                font-family: $heading-font;
                color: wheat;
                @include mq('xsxs') {
                    font-size: 1.25em;
                }
                @include mq('xsLandscape') {
                    font-size: 1em;
                }
                @include mq('smLandscape') {
                    font-size: 1em;
                }
            }

            .used-technologies {
                font-size: 1.25em;
                color: wheat;
                @include mq('xsxs') {
                    font-size: 1em;
                }
                @include mq('xsLandscape') {
                    font-size: 0.9em;
                }
                @include mq('smLandscape') {
                    font-size: .9em;
                }
                span {
                    color: $main-white-color;
                }

                span.html {
                    color: #E44D26;
                }

                span.scss {
                    color: #CF649A;
                }

                span.jquery {
                    color: #0769ad;
                }

                span.react {
                    color: #00D8FF;
                }
                span.node-js {
                    color: #6cc24a;
                }
                span.express {
                    color: #6F6F6F;
                }
                span.mongodb {
                    color: #589636;
                }
                span.redux {
                    color: #764ABC;
                }
            }

            .project-description {
                margin-bottom: 5%;
                @include mq('xsLandscape') {
                    font-size: .8em;
                    margin-bottom: 2.5%;
                }
                @include mq('smLandscape') {
                    font-size: .8em;
                    margin-bottom: 2.5%;
                }
            }

            .links {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .prod-link {
                    padding: 2.5%;
                    background-color: $main-white-color;
                    color: $main-black-color;
                    border-radius: 15%;
                    transition: all .4s ease-in;
                    font-family: $heading-font;
                    @include mq('xsxs') {
                        padding: 1.5%;
                    }
                    @include mq('xsLandscape') {
                        padding: 1%;
                    }
                    @include mq('smLandscape') {
                        padding: 1%;
                    }
                    &:hover {
                        background-color: darken(#57b59d, 10%);
                        color: $main-white-color;
                    }
                }

                i {
                    color: $main-white-color;
                    transition: color .3s ease-in;
                    @include mq('xsxs') {
                        transform: scale(0.75);
                    }
                    &:hover {
                        color: darken(#57b59d, 10%);
                    }
                }
            }
        }
    }

    #prevButton,
    #nextButton {
        position: absolute;
        top: 25%;
        color: black;
        opacity: 0.7;
        transition: opacity .2s ease-in;
        @include mq('xsxs') {
            top: 20%;
        }
        @include mq('xsLandscape') {
            top: 5%;
        }
        @include mq('smLandscape') {
            top: 5%;
        }
        &:focus {
            opacity: 0.8;
        }
    }

    #nextButton {
        right: 5px;
        @include mq('xsLandscape') {
            right: 10px;
        }
        @include mq('smLandscape') {
            right: 10px;
        }
    }

    #prevButton {
        left: 5px;
        @include mq('xsLandscape') {
            left: 10px;
        }
        @include mq('smLandscape') {
            left: 10px;
        }
    }

}