#backdrop {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 90;
}

#backdrop.toggled {
    display: block;
    animation: backdropFade .5s ease-in forwards;
}
@keyframes backdropFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .8;
        background-color: black;
    }
}