#projects {
    padding: 0 2.5%;
    padding-top: 15%;
    height: 100vh;

    @include mq('xsLandscape') {
        padding-top: 5%;
        ;
    }

    @include mq('smLandscape') {
        padding-top: 5%;
    }

    @include mq('mdLandscape') {
        padding-top: 3.5%;
    }

    .projects-carousel {
        margin: 0 auto;
        margin-top: 20%;
        height: 60vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include mq('xsLandscape') {
            margin-top: 5%;
        }

        @include mq('smLandscape') {
            margin-top: 5%;
        }

        @include mq('md') {
            height: 65vh;
            margin-top: 15%;
        }

        @include mq('mdLandscape') {
            width: 80%;
        }

    }

    #slide {
        height: 100%;
        display: flex;
    }

    .take {
        background: url('../images/projects/take.jpg');
    }

    .golden {
        background: url('../images/projects/golden.jpg');
    }

    .sudoku {
        background: url('../images/projects/sudoku.jpg');
    }

    .jquerychatio {
        background: url('../images/projects/jquerychatio.jpg');
    }

    .fyb {
        background: url('../images/projects/fyb.jpg');
    }

    .devconnector {
        background: url('../images/projects/devconnector.jpg');
    }

    .project {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;

        .description {
            position: absolute;
            display: inline-block;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: #000;
            color: $main-white-color;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
            padding: 5%;
            opacity: 0.7;

            @include mq('xsxs') {
                padding: 3.5%;
            }

            @include mq('xsLandscape') {
                padding: 2.5%;
            }

            @include mq('smLandscape') {
                padding: 2.5%;
            }

            @include mq('md') {
                padding: 5%;
            }

            .project-title,
            .used-technologies {
                margin-bottom: 2.5%;

                @include mq('xsxs') {
                    margin-bottom: 1.5%;
                }

                @include mq('xlgLandscape') {
                    margin-bottom: 1.5%;
                }
            }

            .project-title {
                font-size: 1.5em;
                font-family: $heading-font;
                color: wheat;

                @include mq('xsxs') {
                    font-size: 1em;
                }
                @include mq('xs') {
                    font-size: 1em;
                }
                @include mq('xsH') {
                    font-size: 1.2em;
                }
                @include mq('xsLandscape') {
                    font-size: .75em;
                }

                @include mq('smLandscape') {
                    font-size: .9em;
                }

                @include mq('md') {
                    font-size: 2em;
                }

                @include mq('lgLandscape') {
                    font-size: 1.25em;
                }
            }

            .used-technologies {
                font-size: 1em;
                color: wheat;

                @include mq('xsxs') {
                    font-size: 0.75em;
                }
                @include mq('xs') {
                    font-size: .75em;
                }
                @include mq('xsH'){
                    font-size: 1em;
                }
                @include mq('xsLandscape') {
                    font-size: 0.7em;
                }

                @include mq('smLandscape') {
                    font-size: .9em;
                }

                @include mq('md') {
                    font-size: 1.5em;
                }

                @include mq('lgLandscape') {
                    font-size: 1em;
                }

                span {
                    color: $main-white-color;
                }

                span.html {
                    color: #E44D26;
                }

                span.scss {
                    color: #CF649A;
                }

                span.jquery {
                    color: #0769ad;
                }

                span.react {
                    color: #00D8FF;
                }

                span.node-js {
                    color: #6cc24a;
                }

                span.express {
                    color: #6F6F6F;
                }

                span.mongodb {
                    color: #589636;
                }

                span.redux {
                    color: #764ABC;
                }
            }

            .project-description {
                margin-bottom: 5%;
                @include mq('xsxs') {
                    font-size: .6em;
                }
                @include mq('xs') {
                    font-size: .6em;
                }
                @include mq('xsH') {
                    font-size: .9em;
                }
                @include mq('xsLandscape') {
                    font-size: .75em;
                    margin-bottom: 2.5%;
                }

                @include mq('smLandscape') {
                    font-size: .75em;
                    margin-bottom: 2.5%;
                }

                @include mq('md') {
                    font-size: 1.25em;

                }

                @include mq('lgLandscape') {
                    font-size: 1em;
                }

                @include mq('xlgLandscape') {
                    margin-bottom: 1.75%;
                }
            }

            .links {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .prod-link {
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;
                    background-size: 300% 100%;
                    text-align: center;
                    background-image: linear-gradient(90deg, #0ba360, #3cba92, #30dd8a, #2bb673);
                    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
                    border-radius: 50px;
                    transition: all .4s ease-in-out;
                    @include mq('xsxs') {
                        padding: 2% 10%;
                    }

                    @include mq('xsLandscape') {
                        padding: 2% 7.5%;
                    }
                    @include mq('xs') {
                        padding: 2% 10%;
                    }
                    @include mq('smLandscape') {
                        padding: 1.5% 5%;
                    }

                    @include mq('md') {
                        padding: 2.5% 10%;
                        font-size: 1.2em;
                    }

                    @include mq('lgLandscape') {
                        padding: 1.5% 5%;
                        &:hover {
                            background-position: 100% 0;
                        }
                    }
                }

                i {
                    color: $main-white-color;
                    transition: all .5s ease-in;
                    font-size: 2em;
                    background-image: linear-gradient(90deg, darken(#0ba360, 15%), lighten(#3cba92,15%), lighten(#30dd8a, 15%), darken(#2bb673,15%));
                    background-size: 300% 100%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    @include mq('md') {
                        font-size: 4em;
                    }

                    @include mq('lgLandscape') {
                        font-size: 4em;

                        &:hover {
                            background-position: 100% 0;
                        }
                    }
                }
            }
        }
    }

    #prevButton,
    #nextButton {
        position: absolute;
        top: 25%;
        color: black;
        opacity: 0.8;
        transition: opacity .2s ease-in;
        font-size: 3em;

        @include mq('xsxs') {
            top: 20%;
        }
        @include mq('sm') {
          font-size: 3.5em;  
        }
        @include mq('xsLandscape') {
            top: 5%;
            font-size: 2.5em;
        }

        @include mq('smLandscape') {
            top: 5%;
            font-size: 2.5em;
        }

        @include mq('md') {
            font-size: 4em;
        }

        @include mq('lgLandscape') {
            font-size: 4em;
            opacity: 0.75;
            transition: opacity .3s ease-in;
            top: 20%;
            &:hover {
                opacity: 1;
            }
        }
        @include mq('xlgLandscape') {
            top: 25%;
        }

    }

    #nextButton {
        right: 5px;

        @include mq('xsLandscape') {
            right: 10px;
        }

        @include mq('smLandscape') {
            right: 10px;
        }

        @include mq('md') {
            right: 20px;
        }

        @include mq('lgLandscape') {
            right: 20px;
        }
    }

    #prevButton {
        left: 5px;

        @include mq('xsLandscape') {
            left: 10px;
        }

        @include mq('smLandscape') {
            left: 10px;
        }

        @include mq('md') {
            left: 20px;
        }

        @include mq('lgLandscape') {
            left: 20px;
        }
    }
}