@keyframes arrowPop {

    0%,100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(60%)
    }
}

@keyframes gradientSwing {
    0% {
        background-position: 0% 95%
    }

    50% {
        background-position: 100% 5%
    }

    100% {
        background-position: 0% 95%
    }
}

@keyframes bgcTravel {

    0%,
    12.5%,
    100% {
        background-position: 0% 100%
    }

    25%,
    37.5%,
    75%,
    87.5% {
        background-position: 50%, 50%;
    }

    50%,
    62.5% {
        background-position: 100% 0%;
    }

}
@keyframes navLinkSwing {
    0% {
        transform: translateX(200px)
    }
    60% {
        transform: translateX(-35px);
    }
    100% {
        transform: translateX(0)
    }
}