@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
header,
nav,
output,
ruby,
section,
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    line-height: 1;
}

ul,
ol {
    list-style: none;
}