@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
header,
nav,
output,
ruby,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Open-Sans", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  line-height: 1;
}

.section-heading, .section-subheading {
  font-family: "Merriweather", serif;
  text-align: center;
}

.section-heading {
  color: #333030;
  font-size: 2.5em;
}

@media (min-width: 768px) and (orientation: portrait) {
  .section-heading {
    font-size: 4.5em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .section-heading {
    font-size: 4em;
  }
}

.section-subheading {
  margin-top: 2%;
  color: #5a5555;
}

@media (min-width: 768px) and (orientation: portrait) {
  .section-subheading {
    font-size: 2em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .section-subheading {
    font-size: 1.5em;
  }
}

ul,
ol {
  list-style: none;
}

#backdrop {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 90;
}

#backdrop.toggled {
  display: block;
  animation: backdropFade .5s ease-in forwards;
}

@keyframes backdropFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
    background-color: black;
  }
}

@keyframes arrowPop {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(60%);
  }
}

@keyframes gradientSwing {
  0% {
    background-position: 0% 95%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 95%;
  }
}

@keyframes bgcTravel {
  0%,
  12.5%,
  100% {
    background-position: 0% 100%;
  }
  25%,
  37.5%,
  75%,
  87.5% {
    background-position: 50%, 50%;
  }
  50%,
  62.5% {
    background-position: 100% 0%;
  }
}

@keyframes navLinkSwing {
  0% {
    transform: translateX(200px);
  }
  60% {
    transform: translateX(-35px);
  }
  100% {
    transform: translateX(0);
  }
}

header {
  position: fixed;
  right: 0;
  overflow: visible;
  background-color: transparent;
  z-index: 999;
}

header li.nav-link {
  display: none;
}

header nav {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -120px;
  right: -120px;
  background-color: #333030;
  border-radius: 50%;
  transition: all .5s ease-in;
}

header nav.toggled {
  width: 350px;
  height: 350px;
  top: -120px;
  right: -120px;
}

@media (max-width: 576px) and (max-height: 576px) {
  header nav.toggled {
    width: 300px;
    height: 300px;
    top: -100px;
    right: -100px;
  }
}

header nav.toggled ul {
  position: absolute;
  bottom: 50px;
  left: 70px;
  display: inline-block;
  width: 100%;
}

@media (max-width: 576px) and (max-height: 576px) {
  header nav.toggled ul {
    bottom: 40px;
    left: 60px;
  }
}

header nav.toggled li:nth-of-type(2) {
  animation: navLinkSwing .5s .3s  ease-in forwards;
}

header nav.toggled li:nth-of-type(3) {
  animation: navLinkSwing .5s .5s ease-in forwards;
}

header nav.toggled li:nth-of-type(4) {
  animation: navLinkSwing .5s .7s ease-in forwards;
}

header nav.toggled li.nav-link {
  transform: translateX(200px);
  margin-top: 10px;
  display: block;
  text-align: left;
  font-size: 1.3em;
  font-family: "Merriweather", serif;
}

header nav.toggled li.nav-link a {
  color: #333030;
  text-align: left;
  display: block;
  padding: 5px;
  padding-left: 20px;
  transition: color .4s ease-in;
}

header nav.toggled li.nav-link a:hover {
  color: #fefdfd;
  cursor: pointer;
}

header .hamburger {
  color: #f5f5f5;
}

header .hamburger i {
  position: fixed;
  top: 15px;
  right: 15px;
}

#scrollTop {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 50;
  color: black;
  font-size: 5em;
}

#jumbotron {
  background: url("../images/jumbotron.jpg") center/cover no-repeat;
  background-attachment: fixed;
  animation: bgcTravel 60s ease-in infinite;
  height: 100vh;
  padding-top: 60%;
}

@media (max-width: 576px) and (orientation: landscape) {
  #jumbotron {
    padding-top: 25%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #jumbotron {
    padding-top: 25%;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #jumbotron {
    padding-top: 20%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #jumbotron {
    padding-top: 50%;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #jumbotron {
    padding-top: 30%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #jumbotron {
    padding-top: 17.5%;
  }
}

#jumbotron .heading {
  font-family: "Merriweather", serif;
  text-align: center;
  color: white;
}

#jumbotron .name {
  font-size: 2em;
}

@media (min-width: 768px) and (orientation: portrait) {
  #jumbotron .name {
    font-size: 3em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #jumbotron .name {
    font-size: 3em;
  }
}

#jumbotron .junior-dev {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  margin-top: 5vh;
  word-wrap: break-word;
}

@media (min-width: 768px) and (orientation: portrait) {
  #jumbotron .junior-dev {
    font-size: 3em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #jumbotron .junior-dev {
    font-size: 3em;
  }
}

#jumbotron .arrow-down-icon {
  color: white;
  animation: arrowPop .66s ease-in-out alternate infinite;
  margin-top: 5vh;
  display: block;
  text-align: center;
  font-size: 3em;
}

#jumbotron .arrow-down-icon:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (orientation: portrait) {
  #jumbotron .arrow-down-icon {
    font-size: 3em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #jumbotron .arrow-down-icon {
    font-size: 3em;
  }
}

#about-me {
  height: 100vh;
  padding: 0 5%;
  padding-top: 7.5%;
  background: linear-gradient(270deg, #a4f3de, #989cef, #e291f8);
  background-size: 600% 600%;
  animation: gradientSwing 30s ease-in infinite;
}

@media (min-width: 576px) and (orientation: landscape) {
  #about-me {
    padding-top: 3%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #about-me {
    padding-top: 5%;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #about-me {
    padding-top: 5%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #about-me {
    padding-top: 3.5%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #about-me h2 {
    font-size: 1.75em;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #about-me h2 {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #about-me h2 {
    font-size: 4.5em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #about-me h2 {
    font-size: 3.5em;
  }
}

#about-me .introduction {
  margin: 0 auto;
  margin-top: 10%;
  display: block;
}

@media (max-width: 576px) and (min-height: 700px) {
  #about-me .introduction {
    margin-top: 15%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #about-me .introduction {
    margin-top: 5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #about-me .introduction {
    margin-top: 5%;
  }
}

#about-me .introduction img {
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  float: right;
  width: 125px;
  height: 125px;
}

@media (max-width: 576px) and (max-height: 576px) {
  #about-me .introduction img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #about-me .introduction img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #about-me .introduction img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #about-me .introduction img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #about-me .introduction img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #about-me .introduction img {
    width: 300px;
    height: 300px;
  }
}

#about-me .introduction p {
  font-size: 1em;
  line-height: 1.5em;
}

@media (max-width: 576px) and (max-height: 576px) {
  #about-me .introduction p {
    font-size: .75em;
    line-height: 1.5em;
  }
}

@media (max-width: 576px) and (min-height: 700px) {
  #about-me .introduction p {
    font-size: 1em;
    line-height: 2em;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #about-me .introduction p {
    font-size: .75em;
    line-height: 1.35em;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #about-me .introduction p {
    font-size: .85em;
    line-height: 1.75em;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #about-me .introduction p {
    font-size: 1em;
    line-height: 1.5em;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #about-me .introduction p {
    font-size: 1.25em;
    line-height: 2em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #about-me .introduction p {
    font-size: 1.5em;
    line-height: 1.75em;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #about-me .introduction p {
    font-size: 2em;
    line-height: 2em;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #about-me .introduction p {
    font-size: 1.25em;
    line-height: 2.5em;
  }
}

#about-me .introduction span {
  white-space: nowrap;
}

#about-me .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#about-me .contact {
  margin: 0 auto;
  margin-top: 15%;
  width: 85%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 576px) and (min-height: 700px) {
  #about-me .contact {
    margin-top: 20%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #about-me .contact {
    margin-top: 7.5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #about-me .contact {
    margin-top: 7.5%;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #about-me .contact {
    margin-top: 5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #about-me .contact {
    margin-top: 15%;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #about-me .contact {
    margin-top: 5%;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #about-me .contact {
    margin-top: 20%;
  }
}

#about-me .contact a {
  opacity: 0;
}

#about-me .social-icn {
  transform: scale(2);
}

@media (min-width: 768px) and (orientation: portrait) {
  #about-me .social-icn {
    transform: scale(3.5);
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #about-me .social-icn {
    transform: scale(3.5);
    transition: transform 0.3s ease-in;
  }
  #about-me .social-icn:hover {
    transform: scale(4);
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #about-me .social-icn {
    transform: scale(4);
  }
}

#tech {
  padding: 0 5%;
  padding-top: 15%;
  height: 100vh;
  background-color: #d9d9d9;
}

@media (max-width: 576px) and (orientation: landscape) {
  #tech {
    padding-top: 5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #tech {
    padding-top: 5%;
  }
}

#tech .section-heading {
  font-size: 2.25em;
}

@media (max-width: 576px) and (orientation: landscape) {
  #tech .section-heading {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #tech .section-heading {
    font-size: 3.5em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #tech .section-heading {
    font-size: 3.5em;
  }
}

#tech .technologies {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50vh;
  margin-top: 15%;
}

@media (max-width: 576px) and (min-height: 700px) {
  #tech .technologies {
    margin-top: 20%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #tech .technologies {
    margin: 0 auto;
    margin-top: 5%;
    height: 65vh;
    width: 90%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #tech .technologies {
    margin: 0 auto;
    margin-top: 5%;
    height: 65vh;
    width: 90%;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #tech .technologies {
    width: 85%;
    margin-top: 3.5%;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #tech .technologies {
    margin-top: 7.5%;
    width: 90%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #tech .technologies {
    margin-top: 7.5%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #tech .technologies {
    margin-top: 5%;
  }
}

#tech .technologies .logo-tech-wrapper {
  text-align: center;
  width: 33.3%;
  display: inline-block;
  height: 33.3%;
  opacity: 0;
}

@media (max-width: 576px) and (orientation: landscape) {
  #tech .technologies .logo-tech-wrapper {
    width: 25%;
    height: 25%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #tech .technologies .logo-tech-wrapper {
    width: 25%;
    height: 25%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #tech .technologies .logo-tech-wrapper {
    width: 16.6%;
    height: 40%;
  }
}

#tech .technologies img {
  width: auto;
  height: auto;
  max-width: 75px;
  max-height: 75px;
}

@media (max-width: 576px) and (max-height: 576px) {
  #tech .technologies img {
    max-width: 65px;
    max-height: 65px;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #tech .technologies img {
    max-width: 60px;
    max-height: 60px;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #tech .technologies img {
    max-width: 65px;
    max-height: 65px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #tech .technologies img {
    max-width: 75px;
    max-height: 75px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #tech .technologies img {
    max-width: 125px;
    max-height: 125px;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #tech .technologies img {
    max-width: 150px;
    max-height: 150px;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #tech .technologies img {
    max-width: 125px;
    max-height: 125px;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #tech .technologies img {
    max-width: 150px;
    max-height: 150px;
  }
}

#tech .controls {
  text-align: center;
}

#tech .controls #tech-control-left {
  margin-right: 5%;
}

#projects {
  padding: 0 2.5%;
  padding-top: 15%;
  height: 100vh;
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects {
    padding-top: 5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects {
    padding-top: 5%;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #projects {
    padding-top: 3.5%;
  }
}

#projects .projects-carousel {
  margin: 0 auto;
  margin-top: 20%;
  height: 60vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects .projects-carousel {
    margin-top: 5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects .projects-carousel {
    margin-top: 5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .projects-carousel {
    height: 65vh;
    margin-top: 15%;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #projects .projects-carousel {
    width: 80%;
  }
}

#projects #slide {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}

#projects .take {
  background: url("../images/projects/take.jpg");
}

#projects .golden {
  background: url("../images/projects/golden.jpg");
}

#projects .sudoku {
  background: url("../images/projects/sudoku.jpg");
}

#projects .jquerychatio {
  background: url("../images/projects/jquerychatio.jpg");
}

#projects .fyb {
  background: url("../images/projects/fyb.jpg");
}

#projects .devconnector {
  background: url("../images/projects/devconnector.jpg");
}

#projects .project {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#projects .project .description {
  position: absolute;
  display: inline-block;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #f5f5f5;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 5%;
  opacity: 0.7;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects .project .description {
    padding: 3.5%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects .project .description {
    padding: 2.5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects .project .description {
    padding: 2.5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .project .description {
    padding: 5%;
  }
}

#projects .project .description .project-title,
#projects .project .description .used-technologies {
  margin-bottom: 2.5%;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects .project .description .project-title,
  #projects .project .description .used-technologies {
    margin-bottom: 1.5%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #projects .project .description .project-title,
  #projects .project .description .used-technologies {
    margin-bottom: 1.5%;
  }
}

#projects .project .description .project-title {
  font-size: 1.5em;
  font-family: "Merriweather", serif;
  color: wheat;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects .project .description .project-title {
    font-size: 1em;
  }
}

@media (max-width: 576px) and (orientation: portrait) {
  #projects .project .description .project-title {
    font-size: 1em;
  }
}

@media (max-width: 576px) and (min-height: 700px) {
  #projects .project .description .project-title {
    font-size: 1.2em;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects .project .description .project-title {
    font-size: .75em;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects .project .description .project-title {
    font-size: .9em;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .project .description .project-title {
    font-size: 2em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects .project .description .project-title {
    font-size: 1.25em;
  }
}

#projects .project .description .used-technologies {
  font-size: 1em;
  color: wheat;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects .project .description .used-technologies {
    font-size: 0.75em;
  }
}

@media (max-width: 576px) and (orientation: portrait) {
  #projects .project .description .used-technologies {
    font-size: .75em;
  }
}

@media (max-width: 576px) and (min-height: 700px) {
  #projects .project .description .used-technologies {
    font-size: 1em;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects .project .description .used-technologies {
    font-size: 0.7em;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects .project .description .used-technologies {
    font-size: .9em;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .project .description .used-technologies {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects .project .description .used-technologies {
    font-size: 1em;
  }
}

#projects .project .description .used-technologies span {
  color: #f5f5f5;
}

#projects .project .description .used-technologies span.html {
  color: #E44D26;
}

#projects .project .description .used-technologies span.scss {
  color: #CF649A;
}

#projects .project .description .used-technologies span.jquery {
  color: #0769ad;
}

#projects .project .description .used-technologies span.react {
  color: #00D8FF;
}

#projects .project .description .used-technologies span.node-js {
  color: #6cc24a;
}

#projects .project .description .used-technologies span.express {
  color: #6F6F6F;
}

#projects .project .description .used-technologies span.mongodb {
  color: #589636;
}

#projects .project .description .used-technologies span.redux {
  color: #764ABC;
}

#projects .project .description .project-description {
  margin-bottom: 5%;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects .project .description .project-description {
    font-size: .6em;
  }
}

@media (max-width: 576px) and (orientation: portrait) {
  #projects .project .description .project-description {
    font-size: .6em;
  }
}

@media (max-width: 576px) and (min-height: 700px) {
  #projects .project .description .project-description {
    font-size: .9em;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects .project .description .project-description {
    font-size: .75em;
    margin-bottom: 2.5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects .project .description .project-description {
    font-size: .75em;
    margin-bottom: 2.5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .project .description .project-description {
    font-size: 1.25em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects .project .description .project-description {
    font-size: 1em;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #projects .project .description .project-description {
    margin-bottom: 1.75%;
  }
}

#projects .project .description .links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

#projects .project .description .links .prod-link {
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-size: 300% 100%;
  text-align: center;
  background-image: linear-gradient(90deg, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects .project .description .links .prod-link {
    padding: 2% 10%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects .project .description .links .prod-link {
    padding: 2% 7.5%;
  }
}

@media (max-width: 576px) and (orientation: portrait) {
  #projects .project .description .links .prod-link {
    padding: 2% 10%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects .project .description .links .prod-link {
    padding: 1.5% 5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .project .description .links .prod-link {
    padding: 2.5% 10%;
    font-size: 1.2em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects .project .description .links .prod-link {
    padding: 1.5% 5%;
  }
  #projects .project .description .links .prod-link:hover {
    background-position: 100% 0;
  }
}

#projects .project .description .links i {
  color: #f5f5f5;
  transition: all .5s ease-in;
  font-size: 2em;
  background-image: linear-gradient(90deg, #065b36, #71d1b3, #72e8af, #1c784c);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects .project .description .links i {
    font-size: 4em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects .project .description .links i {
    font-size: 4em;
  }
  #projects .project .description .links i:hover {
    background-position: 100% 0;
  }
}

#projects #prevButton,
#projects #nextButton {
  position: absolute;
  top: 25%;
  color: black;
  opacity: 0.7;
  transition: opacity .2s ease-in;
  font-size: 2em;
}

@media (max-width: 576px) and (max-height: 576px) {
  #projects #prevButton,
  #projects #nextButton {
    top: 20%;
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects #prevButton,
  #projects #nextButton {
    top: 5%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects #prevButton,
  #projects #nextButton {
    top: 5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects #prevButton,
  #projects #nextButton {
    font-size: 4em;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects #prevButton,
  #projects #nextButton {
    font-size: 4em;
    opacity: 0.2;
    transition: opacity .3s ease-in;
  }
  #projects #prevButton:hover,
  #projects #nextButton:hover {
    opacity: 0.6;
  }
}

#projects #nextButton {
  right: 5px;
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects #nextButton {
    right: 10px;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects #nextButton {
    right: 10px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects #nextButton {
    right: 20px;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects #nextButton {
    right: 20px;
  }
}

#projects #prevButton {
  left: 5px;
}

@media (max-width: 576px) and (orientation: landscape) {
  #projects #prevButton {
    left: 10px;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #projects #prevButton {
    left: 10px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #projects #prevButton {
    left: 20px;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #projects #prevButton {
    left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */